*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#c7d1bf;
overflow:hidden;
}

nav{
height:72px;
background:#66715f;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 80px;
border-top:3px solid #fff;
border-bottom:1px solid #fff;
}

.logo{
color:#fff;
font-size:22px;
font-weight:700;
}

nav ul{
display:flex;
list-style:none;
gap:45px;
}

nav ul li a{
text-decoration:none;
color:#fff;
font-weight:600;
font-size:16px;
}

.hero{
display:flex;
height:calc(100vh - 72px);
}

.left{
width:65%;
padding:90px 80px;
}

.left h1{
font-size:95px;
font-weight:800;
color:#677260;
line-height:1;
}

.left h2{
font-size:90px;
font-weight:800;
color:#677260;
margin-top:10px;
}

.left p{
width:78%;
font-size:18px;
line-height:2;
margin-top:40px;
color:#111;
}

button{
margin-top:35px;
background:#66715f;
color:white;
border:none;
padding:18px 28px;
font-size:18px;
font-weight:600;
cursor:pointer;
}

.right{
width:35%;
background:#66715f;
position:relative;
overflow:hidden;
}

.pack{
width:300px;
position:absolute;
left:-130px;
top:210px;
z-index:10;
}

.bean{
position:absolute;
width:120px;
}

.b1{
top:60px;
right:160px;
}

.b2{
top:100px;
right:40px;
width:140px;
}

.b3{
top:220px;
right:220px;
width:150px;
}

.b4{
top:300px;
right:40px;
width:130px;
}

.b5{
top:350px;
right:140px;
width:160px;
}

.b6{
top:500px;
right:220px;
width:150px;
}

.b7{
top:620px;
right:50px;
width:140px;
}

.b8{
top:420px;
right:-20px;
width:90px;
}

